@model LibAOModels.User

@{
    ViewBag.Title = "Kind";
}

<h1>@Model.Firstname @Model.Surname</h1>
<hr />
<section>
    <p>Email: @Model.Email</p>
    <p>Geslacht: @(Model.Gender == "m" ? "man" : "vrouw")</p>
    <p>Aantal keren getest: @Model.TestsTaken.Count()</p>
    <p>Geboren op: @Model.DateOfBirth</p>
    @if (@Model.Modifieddate != DateTime.MinValue)
    {
        <p>Profiel laatst aangepast op: @Model.Modifieddate</p>
    }
    
    @if (@Model.Deleteddate != DateTime.MinValue)
    {
        <p>Profiel verwijderd op: @Model.Deleteddate</p>
    }
    <h3>Resultaten</h3>
    <table>
        <thead>
            <tr>
                <th>anamnesis</th>
                <th>gehoor</th>
                <th>spraak</th>
                <th>taal</th>
                <th>andere</th>
            </tr>
        </thead>
        <tbody>
            <tr style="text-align:center">
                <td>@Model.Anamnesis</td>
                <td>@Model.Hearing</td>
                <td>@Model.Speech</td>
                <td>@Model.Language</td>
                <td>@Model.Other</td>
            </tr>
        </tbody>
    </table>
    @Model.Report
    <p>Ingeschreven op <strong>@Model.Createddate.Date</strong> door logopedist <strong>@Model.AdminEnrolled.Firstname @Model.AdminEnrolled.Surname</strong></p>
    <hr />
    <div class="actionlink">
        <button class="btn" onclick="window.location='@Url.Action("Appointment", "Contact", new { id = Model.ID})'" title="Afspraak maken">Maak een afspraak</button>
        <button class="btn" onclick="window.location='@Url.Action("Index", "Child")'" title="Terug naar lijst">Terug naar lijst</button>
    </div>
</section>