@model ICollection<LibAOModels.Test>

<table class="table">
    <tr>
        <th>Kind</th>
        <th>Module</th>
        <th>Aangemaakt</th>
        <th></th>
    </tr>
    @foreach (var test in Model)
    {
        <tr>
            <td>@test.User.Firstname @test.User.Surname</td>
            <td>@test.Routine.Name</td>
            <td>@Html.DisplayFor(modelItem => test.Createddate, "LocalDatetime")</td>
            <td><a href="#" onclick="fin(@test.ID)" class="delete" title="Test afwerken">Afwerken</a></td>
        </tr>
    }
</table>
<a href="~/Test/ToFinish" class="btn" title="Meer"><i class="icon-plus"></i> &nbsp;&nbsp;&nbsp;Meer&nbsp;</a>
