@model AOMVC.Models.RegisterModel

@{
    ViewBag.Title = "Registreren";
}
    <h1>Registreer een nieuwe logopedist</h1>
    <hr />
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class="form-horizontal span8 clearfix block" }))
    {
        
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="control-group">
            @Html.LabelFor(model => model.Firstname, new { @class = "control-label"})
            <div class="controls">
                @Html.EditorFor(model => model.Firstname)
            </div>
            @Html.ValidationMessageFor(model => model.Firstname)
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.Surname, new { @class = "control-label"})
            <div class="controls">
                @Html.EditorFor(model => model.Surname)
            </div>
            @Html.ValidationMessageFor(model => model.Surname)
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label"})
            <div class="controls">
                @Html.EditorFor(model => model.Email)
            </div>
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.Password, new { @class = "control-label"})
            <div class="controls">
                @Html.EditorFor(model => model.Password)
            </div>
            @Html.ValidationMessageFor(model => model.Password)
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.PasswordCheck, new { @class = "control-label"})
            <div class="controls">
                @Html.EditorFor(model => model.PasswordCheck)
            </div>
            @Html.ValidationMessageFor(model => model.PasswordCheck)
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.Gender, new { @class = "control-label"})
            <div class="controls">
                @Html.DropDownListFor(m => m.Gender, new SelectList(HtmlLists.Genders, "GenderValue", "GenderText"))
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input type="submit" value="Registreer" class="btn btn-register" />
            </div>
        </div>
        
    }
<section class="span3 clearfix register-info">
    <p>Registreer hier een logopedist die graag zou willen gebruik maken van het ArticulatieOnderzoeksprogramma.</p>
    <p>Na het registreren zal er een mail verstuurd worden naar de ingeschrevene om deze te verwittigen.</p>
    <p>Hij of zij kan dan aan de slag met het programma. </p>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
