@model LibAOModels.Routine

@{
    ViewBag.Title = "Routine";
}

<h2>Routine @Html.DisplayFor(m => m.Name)</h2>

<fieldset>
    <legend>Routine</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Createddate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Createddate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Modifieddate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Modifieddate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Deleteddate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Deleteddate)
    </div>

    <div class="display-label">
         Logopedist
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AdminCreated.Firstname) @Html.DisplayNameFor(model => model.AdminCreated.Surname)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Aanpassen", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Terug naar lijst", "Index")
</p>
