@model LibAOModels.Test
@section Styles{
    @Styles.Render("~/Content/phonetic/css")
}
@{
    ViewBag.Title = "Analyseren";
}

<h1>Analyseren</h1>
<hr class="nomarginbottom" />

<section id="testinfo">
    <p class="close right noselect"><i class="icon-chevron-up"></i></p>
    <h2 class="noselect toggleInfo clickable">Informatie Over De Test</h2>
    <section id="test">
        <section class="span6">
        <h3>Test</h3>
            <dl class="dl-horizontal">
                <dt>Module</dt>
                <dd>@Model.Routine.Name</dd>
                <dt>Techniek</dt>
                <dd>@Model.Kind</dd>
                <dt>Voor normering</dt>
                <dd>@(Model.ForStatistics==1?"Ja":"Nee")</dd>
            </dl>
        </section>
        <section class="span5">
            <h3>Info</h3>
            <dl class="dl-horizontal">
                <dt>Aangemaakt</dt>
                <dd>@Html.DisplayFor(m => m.Createddate, "LocalDatetime")</dd>
                <dt>Afgerond</dt>
                <dd>@Html.DisplayFor(m => m.Finisheddate, "LocalDatetime")</dd>
            </dl>
        </section>
    </section>
    <section id="info" class="clear">
        <section id="childinfo" class="span6">
            <h3>Kind</h3>
            <dl class="dl-horizontal">
                <dt>Naam</dt>
                <dd>@Model.User.Firstname @Model.User.Surname</dd>
                <dt>Email</dt>
                <dd>@Model.User.Email</dd>
                <dt>Geboortedatum</dt>
                <dd>@Model.User.DateOfBirth</dd>
                <dt>Aantal testen</dt>
                <dd>@Model.User.TestsTaken.Count()</dd>
            </dl>
        </section>
        <section id="admininfo" class="span6">
            <h3>Logopedist</h3>
            <dl class="dl-horizontal">
                <dt>Naam</dt>
                <dd>@Model.Admin.Firstname @Model.Admin.Surname</dd>
                <dt>Email</dt>
                <dd>@Model.Admin.Email</dd>
            </dl>
        </section>
    </section>
    <section class="clear"></section>
</section>
<div class="text-center analyse-progress"><div class="inner-progress"></div><span>Progress</span></div>
<section id="default">
    <h2>Afbeelding</h2>
    <section>
        <section id="defaultspicture" class="span6">
        </section>
        <section id="defaultsinfo" class="span5">
            <dl class="dl-horizontal">
                <dt>Naam</dt>
                <dd id="name">naam</dd>
                <dt>Aanvulzin</dt>
                <dd id="sentence">zin</dd>
                <dt>Fonetisch</dt>
                <dd id="phonetic">phon</dd>
            </dl>
        </section>
    </section>
    <section class="clear"></section>
    <hr class="" />
</section>
<section id="custom">
    <h2>Analyse Resultaat</h2>
    <section class="results">
        <section class="result">
            
        </section>
    </section>
    <section class="clear"></section>
    <section class="errors">
        <div class="error" id="">
            <section id="" class="span6 borderright">
                <h3>Fonologische Fouten</h3>
                
                <select class="hearable">
                @foreach (LibAOModels.Error err in @ViewBag.errors)
                {
                    <option value="@err.ID">@err.Name</option>
                }
                </select>
            </section>
            <section id="" class="span6">
                <h3>Visuele Fouten</h3>
                <select class="visible">
                    <option value="0">Geen visuele fout</option>
                @foreach (LibAOModels.Error err in @ViewBag.visual)
                {
                    <option value="@err.ID">@err.Name</option>
                }
                </select>
            </section>
        </div>
    </section>
    <section class="clear"></section>
    <hr class="" />
</section>
<button class="btn left" id="previous">Vorige afbeelding</button>
<button class="btn left" id="next">Volgende afbeelding</button>
<button class="btn right" id="final">Afronden</button>
<button class="btn right" id="save">Opslaan</button>



@section Scripts{
    <script>
        var _testid = @Model.ID;
    </script>
    @Scripts.Render("~/bundles/phonetic")
    @Scripts.Render("~/bundles/analyse")
}

