@model ICollection<LibAOModels.Routine>
@{
    ViewBag.Title = "Nieuwe test";
    string path = "http://" + HttpContext.Current.Request.Url.Host.ToString() + (HttpContext.Current.Request.Url.IsDefaultPort ? "" : ":" + HttpContext.Current.Request.Url.Port.ToString()) + "/images/";
}

<h1>Nieuwe test maken</h1>
<hr />
<h2>Selecteer een module om te testen</h2>
<ul class="unstyled clearfix routines">
    @foreach (var r in Model)
    {
        <li class="clearfix routine noselect" onclick="makeActive(this)" data-id="@r.ID">
            <span class="name">@r.Name</span>
            <ul class="unstyled images gallery">
                @{var images = r.ImagesInRoutine.OrderBy(ir => ir.ImageOrder).Take(10).ToList(); }
                @foreach (var img in images)
	            {
                    var url = path + img.Image.Url;
		            <li class="gallery-img"><img src="@url" title="@img.Image.Name" /></li>
	            }
                @if (images.Count == 10)
                {
                    <li class="gallery-img dots">...</li>
                }
                
            </ul>
        </li>
        
    }
</ul>
<h2>Selecteer het kind om te testen</h2>
@Html.Action("Children")

<h2>Selecteer de testsoort</h2>
<input type="radio" name="kind" value="normal" id="normal" checked="checked" class="inlinerbl" /><label for="normal" class="inlinelabel">Normaal</label><br />
<input type="radio" name="kind" value="repeat" id="repeat" class="inlinerbl" /><label for="repeat" class="inlinelabel">Herhalen</label><br />
<input type="radio" name="kind" value="sentence" id="sentence" class="inlinerbl" /><label for="sentence" class="inlinelabel">Aanvulzin</label><br />

<h2>Normering</h2>
<input type="radio" name="stats" value="1" class="inlinerbl" id="ja" checked="checked" /><label for="ja" class="inlinelabel">Voor de normering</label><br />
<input type="radio" name="stats" value="0" class="inlinerbl" id="nee" /><label for="nee" class="inlinelabel">Niet voor de normering</label><br />

<hr />
<div class="actionlink">
    <button class="btn" onclick="window.location='@Url.Action("Index")'" title="Terug naar lijst">Terug naar lijst</button>
    <button class="btn" onclick="startTest()" title="Test starten">Start test</button>
</div>

@section Scripts{
    <script>
        var _root = "http://" + window.location.host.toString() + "/";
        $(".routines li").first().addClass("chosenRoutine");
        function makeActive(e) {
            $(".routines li").each(function (i, v) {
                $(v).removeClass("chosenRoutine");
            })
            $(e).addClass("chosenRoutine");
        }
        $(".children li").first().addClass("selectedChild");
        function makeChildActive(e) {
            $(".children li").each(function (i, v) {
                $(v).removeClass("selectedChild");
            })
            $(e).addClass("selectedChild");
        }
        function startTest() {
            var rout = $(".routines").find(".chosenRoutine").first().data("id");
            var child = $(".children").find(".selectedChild").first().data("id");
            var kind = $('input[name=kind]:checked').val();
            var stat = $('input[name=stats]:checked').val();

            var formData = new FormData();
            formData.append("routine", rout);
            formData.append("child", child);
            formData.append("kind", kind);
            formData.append("stats", stat);

            //CREATE THE NEW REQUEST
            var xhr = new XMLHttpRequest();

            xhr.addEventListener("load", function (evt) {
                if (evt.currentTarget.responseText != "") {
                    window.location = _root + "Test/Test?id=" + evt.currentTarget.responseText;
                }
            }, false);
            xhr.addEventListener("error", function (evt) {
                console.log("There was an error attempting to upload the file.");
            }, false);
            xhr.addEventListener("abort", function (evt) {
                console.log("The upload has been canceled by the user or the browser dropped the connection.");
            }, false);


            xhr.open("POST", _root + "Test/Create");
            xhr.send(formData);
        }
    </script>
}