@model ICollection<LibAOModels.Test>

@{
    ViewBag.Title = "Testen";

    string output = "";
}
@section Styles{
    @Styles.Render("~/Content/themes/lightness")
}

<h1>Testen</h1>
<hr />

<table class="table table-hover">
    <tr>
        <th>
            Aangemaakt
        </th>
        <th>
            Aangepast
        </th>
        <th>
            Afgemaakt
        </th>
        <th>
            Geanalyseerd
        </th>
        <th>
            Kind
        </th>
        <th>
            Routine
        </th>
        <th>
            Soort
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    
    switch (item.Kind)
    {
        case "normal":
            output = "Normaal";
            break;
        case "sentence":
            output = "Aanvulzin";
            break;
        case "repeat":
            output = "Herhalen";
            break;
    }
    string rap = "";
    
	{
        
	}
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Createddate, "LocalDatetime")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modifieddate, "LocalDatetime")
        </td>
        @if (item.Finisheddate != null){
        <td>
            @Html.DisplayFor(modelItem => item.Finisheddate.Value, "LocalDatetime")
        </td>
        }else{
        <td>
            
        </td>
        } 
        @if (item.Analyseddate != null){
        <td>
            @Html.DisplayFor(modelItem => item.Analyseddate.Value, "LocalDatetime")
        </td>
        }else{
        <td>
            
        </td>
        }
        <td>
            @Html.DisplayFor(modelItem => item.User.Firstname) @Html.DisplayFor(modelItem => item.User.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Routine.Name)
        </td>
        
        <td>
            @output
        </td>
        @if (item.Analyseddate != null){
        <td>
            <a href="#" onclick="del(@item.ID)" class="delete" title="verwijderen">Verwijderen</a>
            | <a href='#' onclick='rapport(@item.ID)' title='Rapport bekijken'>Rapport</a>
        
        </td>
        }else if (item.Finisheddate == null)
	    {
            <td>
            <a href="#" onclick="del(@item.ID)" class="delete" title="verwijderen">Verwijderen</a>
            | <a href='#' onclick='continueTest(@item.ID)' title='Test verderzetten'>Afmaken</a>
        </td>
	    }else
	    {
            <td>
                <a href="#" onclick="del(@item.ID)" class="delete" title="verwijderen">Verwijderen</a>
                | <a href='#' onclick='analyseIt(@item.ID)' title='Test analyseren'>Analyseren</a>
            </td>
	    }
    </tr>
}
    </table>

<button class="btn left" onclick="analyse()">Te analyseren</button>
<button class="btn left" onclick="finish()">Af te maken</button>
<button class="btn left" onclick="finished()">Afgewerkt</button>
@section Scripts{
   @Scripts.Render("~/bundles/jqueryui")
   @Scripts.Render("~/bundles/alert")
<script>
    var _root = "http://" + window.location.host.toString() + "/";

    function continueTest(id) {
        window.location = _root + "Test/Test/?id=" + id + "&continue=1";
    }

    function analyseIt(id) {
        window.location = _root + "Test/Analyse/?id=" + id;
    }

    function rapport(id) {
        window.location = _root + "Test/Report/?id=" + id;
    }

    function analyse() {
        window.location = _root + "Test/ToAnalyse";
    }

    function finish() {
        window.location = _root + "Test/ToFinish";
    }

    function finished() {
        window.location = _root + "Test/Finished";
    }

    function del(id) {
        var formData = new FormData();
        formData.append("id", id);
        var xhr = new XMLHttpRequest();

        xhr.addEventListener("load", function (evt) {
            showDialog(evt.target.responseText, id);
        }, false);
        xhr.addEventListener("error", function (evt) {
            console.log("There was an error attempting to upload the file.");
        }, false);
        xhr.addEventListener("abort", function (evt) {
            console.log("The upload has been canceled by the user or the browser dropped the connection.");
        }, false);


        xhr.open("POST", "http://" + window.location.host + "/Test/Delete/");
        xhr.send(formData);
    }
    function showDialog(code, id) {
        switch (code) {
            case '200':
                var dialog = '<div id="dialog-confirm" title="Test verwijderen?">'
                    + '<p><span class="ui-icon ui-icon-trash" style="float: left; margin: 0 7px 20px 0;"></span>Deze test zal verwijderd worden en kan niet meer teruggehaald worden. Bent u zeker dat u deze wilt verwijderen?</p>';
                +'</div>';
                $("body").append(dialog);

                $("#dialog-confirm").dialog({
                    resizable: false,
                    height: 180,
                    width: 550,
                    modal: true,
                    buttons: {
                        "Verwijderen": function () {
                            deleteConfirmedTest(id);
                            $(this).dialog("close");
                        },
                        Annuleer: function () {
                            console.log("cancel");
                            $(this).dialog("close");
                        }
                    }
                });
                break;
            case '401': console.log("not mine");
                break;

        }
    };

    function deleteConfirmedTest(id) {
        var formData = new FormData();
        formData.append("id", id);
        var xhr = new XMLHttpRequest();

        xhr.addEventListener("load", function (evt) {
            window.location = "http://" + window.location.host + "/test/toanalyse?message=testdeleted";
        }, false);
        xhr.addEventListener("error", function (evt) {
            console.log("There was an error attempting to delete the test.");
        }, false);
        xhr.addEventListener("abort", function (evt) {
            console.log("The upload has been canceled by the user or the browser dropped the connection.");
        }, false);

        xhr.open("POST", "http://" + window.location.host + "/Test/DeleteConfirmed/");
        xhr.send(formData);
    }
</script>

}