@{
    Layout = null;
    string testUrl = "http://" + HttpContext.Current.Request.Url.Host.ToString() + (HttpContext.Current.Request.Url.IsDefaultPort ? "" : ":" + HttpContext.Current.Request.Url.Port.ToString()) + "/Test";
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">    
    <title>Test</title>
    @Styles.Render("~/Content/bootstrapnoresponsive")
    @Styles.Render("~/Content/Test")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <section id="startTest">
        <h2>Start met de test</h2>
        <button class="btn" type="button">Start</button>
    </section>
    <h1 class="sentence"></h1>
    <ul class="unstyled images">
    </ul>
    <footer>
        <ul class="unstyled inline buttons">
            <li><a href="#" title="vorige" data-function="back"><i class="icon-arrow-left"></i></a></li>
            <li><a href="#" title="fullscreen" data-function="fullscreen"><i class="icon-fullscreen"></i></a></li>
            <li><a href="#" title="aanvulzin" data-function="sentence"><i class="icon-comment"></i></a></li>
            <li><a href="#" title="voorbeeldfragment" data-function="playaudio"><i class="icon-play"></i></a></li>
            <li><a href="#" title="pauzeer test" data-function="pause"><i class="icon-pause"></i></a></li>
            <li><a href="#" title="fout" data-function="wrong"><i class="icon-remove-circle"></i></a></li>
            <li><a href="#" title="correct" data-function="correct"><i class="icon-ok-circle"></i></a></li>
            <li><a href="#" title="visuele fout" data-function="visualError"><i class="icon-eye-open"></i></a></li>
            <li><a href="#" title="volgende" data-function="next"><i class="icon-arrow-right"></i></a></li>
        </ul>
        <p id="progress"></p>
    </footer>
    <div id="setError">
        <p>X</p>
        <h3>Visuele fout</h3>
        <div id="errors">
            <label class="radio">
                <input type="radio" name="error" id="noerror" value="0" checked="checked">
                Geen visuele fout
            </label>
            <label class="radio">
                <input type="radio" name="error" id="error1" value="e1">
                Interdentaal
            </label>
            <label class="radio">
                <input type="radio" name="error" id="error2" value="e2">
                Addentaal
            </label>
        </div>
    </div>
    <div id="noMicrophone">
        <p>X</p>
        <h3>Er is geen microfoon gevonden</h3>
        <p>
            Check de microfoon of connecteer een microfoon aan de computer. 
            Indien de microfoon toch correct aangesloten zou zijn, check dan of je Flash toelaat om je microfoon te gebruiken.
            Je kan de globale instellingen <a href="http://www.macromedia.com/support/documentation/en/flashplayer/help/settings_manager02.html" target="_blank" title="Flash instellingen">hier</a> wijzigen.
        </p>
        <p>
            Herlaad de pagina als de microfoon goed ingesteld is, aangekoppeld is of als je de globale instellingen voor Flash hebt veranderd.
        </p>
    </div>
    
    <div id="pause">
        <h3>Test gepauzeerd</h3>
        <button class="btn btn-danger" id="stopTest" title="Stop de test">Stop de test</button>
        <button class="btn btn-success" id="resume" title="Ga verder">Ga verder met de test</button>
    </div>
    <div id="record"></div>
    <div class="overlay"></div>
    <audio id="fragment" preload="auto">
    </audio>
    <div id="comment">
        <h3>Eerste opmerkingen of bijzonderheden</h3>
        <textarea id="comment_field"></textarea>
        <p class="noComment error nodisplay">Opmerking is verplicht.</p>
        <button class="btn-success btn" title="Opslaan en afsluiten">Opslaan en afsluiten</button>
    </div>
    <script>
        var routineid = @ViewBag.Routine;
        var _testid = @ViewBag.testid;
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/test")
</body>
</html>
