<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <title>@ViewBag.Title :: AO</title>
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    
    @if (Request.IsAuthenticated) {
        
    <div class="container-fluid fullheight">
      <div class="row-fluid fullheight">
        <div class="span9 fullheight content">
            @RenderBody()
        </div>
        @Html.Partial("_sidebarPartial")
        
      </div>
    </div>
    }
    else
    {
        <div class="container fullheight">
          <div class="fullheight">
            <div class="fullheight content">
                @RenderBody()
            </div>
          </div>
        </div>
    }
    
    
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/alert")
    <script>
        $(".sidebar").css({"height":$(window).height()+'px'});
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
